<!-- <head>
    <link rel="stylesheet" href="header.css" />
</head> -->
<div class="mattsml-header mattsml-header--hidden">
    <div class="mattsml-header__gradient">
        <div>
            <div class="mattsml-header__gradient__layer-1"></div>
            <div class="mattsml-header__gradient__layer-2"></div>
            <div class="mattsml-header__gradient__layer-3"></div>
        </div>
    </div>
    <div class="mattsml-header__foreground">
        <div class="mattsml-header__title">Matt’s</div>
        <div class="mattsml-header__subtitle">machine learning site</div>
        <a href="/" class="mattsml-header__link">matts.ml</a>
    </div>
</div>
