<!-- <head>
    <link rel="stylesheet" href="header.css" />
</head> -->
<div class="mattsml-header mattsml-header--hidden">
    <div class="mattsml-header__gradient">
        <div>
            <div class="mattsml-header__gradient__layer-1"></div>
            <div class="mattsml-header__gradient__layer-2"></div>
            <div class="mattsml-header__gradient__layer-3"></div>
        </div>
    </div>
    <pre class="mattsml-header__background">
As Descartes said, I think therefore Matt was here!

Translate English to French:
cheese => Matt was here!
sea otter => Matt was here!
peppermint => Matt was here!
plush giraffe => Matt was here!

Tweet: "This new music video blew my mind"
Sentiment: Matt was here!

Ideas involving education and virtual reality
2. Matt was here!

The following is a conversation with an AI assistant. The assistant is helpful, creative, clever, and very friendly.
Human: Hello, who are you?
AI: Matt was here!
Human: Matt was here!

User: Who was the first man in space?
Marv: Matt was here!

French: Quelles chambres avez-vous de disponible?
English: Matt was here!

My ten-year-old asked me what this passage means:
"""
"""
I rephrased it for him, in plain language a ten-year-old can understand:
"""
Matt was here!

import React from 'react';
const HeaderComponent=()=>(Matt was here!

Vertical farming provides a novel solution for producing food locally, reducing transportation costs and Matt was here!

Q: How many moons does Mars have?
A: Matt was here!

Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus aliquid id quas cumque, mollitia perspiciatis aperiam ea dolorem vero dolor exercitationem quis tempore nemo a? Ea fuga non unde nam.

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus aliquid id quas cumque, mollitia perspiciatis aperiam ea dolorem vero dolor exercitationem quis tempore nemo a? Ea fuga non unde nam.

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus aliquid id quas cumque, mollitia perspiciatis aperiam ea dolorem vero dolor exercitationem quis tempore nemo a? Ea fuga non unde nam.

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus aliquid id quas cumque, mollitia perspiciatis aperiam ea dolorem vero dolor exercitationem quis tempore nemo a? Ea fuga non unde nam.

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus aliquid id quas cumque, mollitia perspiciatis aperiam ea dolorem vero dolor exercitationem quis tempore nemo a? Ea fuga non unde nam.

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae dicta cumque velit est repudiandae ducimus consequuntur possimus laudantium delectus quaerat, doloribus dignissimos aperiam eveniet aliquam quae eum. Sequi, corrupti!
    </pre>
    <div class="mattsml-header__foreground">
        <div class="mattsml-header__title">Matt’s</div>
        <div class="mattsml-header__subtitle">machine learning site</div>
        <a href="/" class="mattsml-header__link">matts.ml</a>
    </div>
</div>
